# Chile datos territoriales

In [1]:
import pandas as pd


def apply_replacements(text, replacements):
    for wrong, correct in replacements.items():
        text = text.replace(wrong, correct)
    return text

## Carga de DataFrames

In [ ]:
ley_regiones_df = pd.read_csv("sources/ley-regiones.csv", dtype=str)

ley_regiones_df

In [ ]:
observatoriologistico_df = pd.read_csv("sources/observatoriologistico.csv", dtype=str)

observatoriologistico_df

In [ ]:
replacements = {
    "Aisén del General Carlos Ibañez del Campo": "Aysén del General Carlos Ibáñez del Campo",
    "Magallanes": "Magallanes y de la Antártica Chilena",
    "Región Metropolitana de Santiago": "Metropolitana de Santiago",
}

iso_df = pd.read_csv("sources/iso.csv")
iso_df["corrected_name"] = iso_df["Subdivision name"].apply(
    lambda x: apply_replacements(x, replacements)
)
iso_df

## Transformaciones

In [ ]:
# Preprocesar iso_df para hacer la correspondencia más directa y limpiar el código ISO
iso_df["clean_iso_code"] = iso_df["3166-2 code"].str.replace("*", "")

# Unir los dataframes en los nombres corregidos y necesarios
merged_df = observatoriologistico_df.merge(
    iso_df[["corrected_name", "clean_iso_code"]],
    left_on="Nombre Región",
    right_on="corrected_name",
    how="left",
)
merged_df = merged_df.merge(
    ley_regiones_df[["código", "nombre"]],
    left_on="Código Región",
    right_on="código",
    how="left",
)
merged_df

## Construcción de Regiones CSV

In [ ]:
# Seleccionar y renombrar las columnas necesarias para el DataFrame final
regions_df = merged_df[
    ["Código Región", "nombre", "Nombre Región", "Abreviatura Región", "clean_iso_code"]
]
regions_df.columns = ["id", "name", "short_name", "abbreviation", "iso_code"]
# Pylance:
regions_df = regions_df.drop_duplicates(subset=["id"], keep="last")

# Guardar a CSV y mostrar el DataFrame
regions_df.to_csv("csv/regions.csv", index=False)
regions_df

## Construcción de Provincias CSV

In [ ]:
provinces_df = observatoriologistico_df[
    ["Código Provincia", "Nombre Provincia", "Código Región"]
].copy()
provinces_df.columns = ["id", "name", "region_id"]

provinces_df = provinces_df.drop_duplicates(subset=["id"], keep="last")

provinces_df.to_csv("csv/provinces.csv", index=False)
provinces_df

## Construcción de Comunas CSV

In [ ]:
communes_df = observatoriologistico_df[
    ["Código Comuna 2018", "Nombre Comuna", "Código Provincia"]
].copy()
communes_df.columns = ["id", "name", "province_id"]

communes_df.to_csv("csv/communes.csv", index=False)
communes_df

## Construcción de JSON

In [ ]:
import json

# Agrupar comunas por provincia_id y construir el diccionario de comunas
communes_grouped = communes_df.groupby("province_id")
provinces_df["communes"] = provinces_df["id"].apply(
    lambda x: {
        row["id"]: {"id": row["id"], "name": row["name"]}
        for _, row in communes_grouped.get_group(x).iterrows()
        if x in communes_grouped.groups
    }
)

# Agrupar provincias por region_id y construir el diccionario de provincias
provinces_grouped = provinces_df.groupby("region_id")
regions_df["provinces"] = regions_df["id"].apply(
    lambda x: {
        row["id"]: {"id": row["id"], "name": row["name"], "communes": row["communes"]}
        for _, row in provinces_grouped.get_group(x).iterrows()
        if x in provinces_grouped.groups
    }
)

# Construir el diccionario final para el país, asumiendo que el país es Chile
cl_country = {
    "country": "Chile",
    "regions": {
        row["id"]: {
            "id": row["id"],
            "name": row["name"],
            "short_name": row["short_name"],
            "abbreviation": row["abbreviation"],
            "iso_code": row["iso_code"],
            "provinces": row["provinces"],
        }
        for _, row in regions_df.iterrows()
    },
}

# Convertir el diccionario a JSON
json_data = json.dumps(cl_country, ensure_ascii=False, indent=2)

# Guardar JSON en un archivo
with open("json/data.json", "w", encoding="utf-8") as f:
    f.write(json_data)

# Imprimir el JSON para verificar
print(json_data)

## Construcción de Región SQL

In [14]:
# Definir el modelo de la tabla
table_model = """
CREATE TABLE region (
  id VARCHAR(2) PRIMARY KEY,
  name VARCHAR(255),
  short_name VARCHAR(255),
  abbreviation VARCHAR(10),
  iso_code VARCHAR(10)
);
"""

# Generar las sentencias INSERT
insert_statements = ""
for _, row in regions_df.iterrows():
    insert_statements += f"INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('{row['id']}', '{row['name'].replace("'","''")}', '{row['short_name'].replace("'","''")}', '{row['abbreviation']}', '{row['iso_code']}');\n"

# Combinar el modelo de la tabla y las sentencias INSERT
sql_script = table_model + "\n" + insert_statements

# Guardar el script SQL en un archivo
with open("sql/regions.sql", "w", encoding="utf-8") as f:
    f.write(sql_script)

# Imprimir el script SQL para verificar
print(sql_script)

CREATE TABLE region (
  id VARCHAR(2) PRIMARY KEY,
  name VARCHAR(255),
  short_name VARCHAR(255),
  abbreviation VARCHAR(10),
  iso_code VARCHAR(10)
);

INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('01', 'Región de Tarapacá', 'Tarapacá', 'TPCA', 'CL-TA');
INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('02', 'Región de Antofagasta', 'Antofagasta', 'ANTOF', 'CL-AN');
INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('03', 'Región de Atacama', 'Atacama', 'ATCMA', 'CL-AT');
INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('04', 'Región de Coquimbo', 'Coquimbo', 'COQ', 'CL-CO');
INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('05', 'Región de Valparaíso', 'Valparaíso', 'VALPO', 'CL-VS');
INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('06', 'Región del Libertador General Bernardo O''Higgins', 'Libertador General Bernardo O''Higgins', 'LGBO', 'CL-LI');
INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('07', 'Región del Maule', 'Maule', 'MAULE', 'CL-ML');
INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('08', 'Región del Biobío', 'Biobío', 'BBIO', 'CL-BI');
INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('09', 'Región de La Araucanía', 'La Araucanía', 'ARAUC', 'CL-AR');
INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('10', 'Región de Los Lagos', 'Los Lagos', 'LAGOS', 'CL-LL');
INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('11', 'Región Aysén del General Carlos Ibáñez del Campo', 'Aysén del General Carlos Ibáñez del Campo', 'AYSEN', 'CL-AI');
INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('12', 'Región de Magallanes y de la Antártica Chilena', 'Magallanes y de la Antártica Chilena', 'MAG', 'CL-MA');
INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('13', 'Región Metropolitana de Santiago', 'Metropolitana de Santiago', 'RM', 'CL-RM');
INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('14', 'Región de Los Ríos', 'Los Ríos', 'RIOS', 'CL-LR');
INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('15', 'Región de Arica y Parinacota', 'Arica y Parinacota', 'AyP', 'CL-AP');
INSERT INTO region (id, name, short_name, abbreviation, iso_code) VALUES ('16', 'Región de Ñuble', 'Ñuble', 'NUBLE', 'CL-NB');

In [15]:
# Definir el modelo de la tabla
provinces_table_model = """
CREATE TABLE province (
  id VARCHAR(3) PRIMARY KEY,
  name VARCHAR(255),
  region_id VARCHAR(2),
  FOREIGN KEY (region_id) REFERENCES region(id)
);
"""

# Generar las sentencias INSERT
provinces_insert_statements = ""
for _, row in provinces_df.iterrows():
    provinces_insert_statements += f"INSERT INTO province (id, name, region_id) VALUES ('{row['id']}', '{row['name'].replace("'","''")}', '{row['region_id']}');\n"

# Combinar el modelo de la tabla y las sentencias INSERT
provinces_sql_script = provinces_table_model + "\n" + provinces_insert_statements

# Guardar el script SQL en un archivo
with open("sql/provinces.sql", "w", encoding="utf-8") as f:
    f.write(provinces_sql_script)

# Imprimir el script SQL para verificar
print(provinces_sql_script)

CREATE TABLE province (
  id VARCHAR(3) PRIMARY KEY,
  name VARCHAR(255),
  region_id VARCHAR(2),
  FOREIGN KEY (region_id) REFERENCES region(id)
);

INSERT INTO province (id, name, region_id) VALUES ('011', 'Iquique', '01');
INSERT INTO province (id, name, region_id) VALUES ('014', 'Tamarugal', '01');
INSERT INTO province (id, name, region_id) VALUES ('021', 'Antofagasta', '02');
INSERT INTO province (id, name, region_id) VALUES ('022', 'El Loa', '02');
INSERT INTO province (id, name, region_id) VALUES ('023', 'Tocopilla', '02');
INSERT INTO province (id, name, region_id) VALUES ('031', 'Copiapó', '03');
INSERT INTO province (id, name, region_id) VALUES ('032', 'Chañaral', '03');
INSERT INTO province (id, name, region_id) VALUES ('033', 'Huasco', '03');
INSERT INTO province (id, name, region_id) VALUES ('041', 'Elqui', '04');
INSERT INTO province (id, name, region_id) VALUES ('042', 'Choapa', '04');
INSERT INTO province (id, name, region_id) VALUES ('043', 'Limarí', '04');
INSERT INTO province (id, name, region_id) VALUES ('051', 'Valparaíso', '05');
INSERT INTO province (id, name, region_id) VALUES ('052', 'Isla de Pascua', '05');
INSERT INTO province (id, name, region_id) VALUES ('053', 'Los Andes', '05');
INSERT INTO province (id, name, region_id) VALUES ('054', 'Petorca', '05');
INSERT INTO province (id, name, region_id) VALUES ('055', 'Quillota', '05');
INSERT INTO province (id, name, region_id) VALUES ('056', 'San Antonio', '05');
INSERT INTO province (id, name, region_id) VALUES ('057', 'San Felipe de Aconcagua', '05');
INSERT INTO province (id, name, region_id) VALUES ('058', 'Marga Marga', '05');
INSERT INTO province (id, name, region_id) VALUES ('061', 'Cachapoal', '06');
INSERT INTO province (id, name, region_id) VALUES ('062', 'Cardenal Caro', '06');
INSERT INTO province (id, name, region_id) VALUES ('063', 'Colchagua', '06');
INSERT INTO province (id, name, region_id) VALUES ('071', 'Talca', '07');
INSERT INTO province (id, name, region_id) VALUES ('072', 'Cauquenes', '07');
INSERT INTO province (id, name, region_id) VALUES ('073', 'Curicó', '07');
INSERT INTO province (id, name, region_id) VALUES ('074', 'Linares', '07');
INSERT INTO province (id, name, region_id) VALUES ('081', 'Concepción', '08');
INSERT INTO province (id, name, region_id) VALUES ('082', 'Arauco', '08');
INSERT INTO province (id, name, region_id) VALUES ('083', 'Biobío', '08');
INSERT INTO province (id, name, region_id) VALUES ('091', 'Cautín', '09');
INSERT INTO province (id, name, region_id) VALUES ('092', 'Malleco', '09');
INSERT INTO province (id, name, region_id) VALUES ('101', 'Llanquihue', '10');
INSERT INTO province (id, name, region_id) VALUES ('102', 'Chiloé', '10');
INSERT INTO province (id, name, region_id) VALUES ('103', 'Osorno', '10');
INSERT INTO province (id, name, region_id) VALUES ('104', 'Palena', '10');
INSERT INTO province (id, name, region_id) VALUES ('111', 'Coyhaique', '11');
INSERT INTO province (id, name, region_id) VALUES ('112', 'Aysén', '11');
INSERT INTO province (id, name, region_id) VALUES ('113', 'Capitán Prat', '11');
INSERT INTO province (id, name, region_id) VALUES ('114', 'General Carrera', '11');
INSERT INTO province (id, name, region_id) VALUES ('121', 'Magallanes', '12');
INSERT INTO province (id, name, region_id) VALUES ('122', 'Antártica Chilena', '12');
INSERT INTO province (id, name, region_id) VALUES ('123', 'Tierra del Fuego', '12');
INSERT INTO province (id, name, region_id) VALUES ('124', 'Última Esperanza', '12');
INSERT INTO province (id, name, region_id) VALUES ('131', 'Santiago', '13');
INSERT INTO province (id, name, region_id) VALUES ('132', 'Cordillera', '13');
INSERT INTO province (id, name, region_id) VALUES ('133', 'Chacabuco', '13');
INSERT INTO province (id, name, region_id) VALUES ('134', 'Maipo', '13');
INSERT INTO province (id, name, region_id) VALUES ('135', 'Melipilla', '13');
INSERT INTO province (id, name, region_id) VALUES ('136', 'Talagante', '13');
INSERT INTO province (id, name, region_id) VALUES ('141', 'Valdivia', '14');
INSERT INTO province (id, name, region_id) VALUES ('142', 'Ranco', '14');
INSERT INTO province (id, name, region_id) VALUES ('151', 'Arica', '15');
INSERT INTO province (id, name, region_id) VALUES ('152', 'Parinacota', '15');
INSERT INTO province (id, name, region_id) VALUES ('161', 'Diguillín', '16');
INSERT INTO province (id, name, region_id) VALUES ('162', 'Itata', '16');
INSERT INTO province (id, name, region_id) VALUES ('163', 'Punilla', '16');

In [17]:
# Definir el modelo de la tabla
communes_table_model = """
CREATE TABLE commune (
  id VARCHAR(5) PRIMARY KEY,
  name VARCHAR(255),
  province_id VARCHAR(3),
  FOREIGN KEY (province_id) REFERENCES province(id)
);
"""

# Generar las sentencias INSERT
communes_insert_statements = ""
for _, row in communes_df.iterrows():
    communes_insert_statements += f"INSERT INTO commune (id, name, province_id) VALUES ('{row['id']}', '{row['name'].replace("'","''")}', '{row['province_id']}');\n"

# Combinar el modelo de la tabla y las sentencias INSERT
communes_sql_script = communes_table_model + "\n" + communes_insert_statements

# Guardar el script SQL en un archivo
with open("sql/communes.sql", "w", encoding="utf-8") as f:
    f.write(communes_sql_script)

# Imprimir el script SQL para verificar
print(communes_sql_script)

CREATE TABLE commune (
  id VARCHAR(5) PRIMARY KEY,
  name VARCHAR(255),
  province_id VARCHAR(3),
  FOREIGN KEY (province_id) REFERENCES province(id)
);

INSERT INTO commune (id, name, province_id) VALUES ('01101', 'Iquique', '011');
INSERT INTO commune (id, name, province_id) VALUES ('01107', 'Alto Hospicio', '011');
INSERT INTO commune (id, name, province_id) VALUES ('01401', 'Pozo Almonte', '014');
INSERT INTO commune (id, name, province_id) VALUES ('01402', 'Camiña', '014');
INSERT INTO commune (id, name, province_id) VALUES ('01403', 'Colchane', '014');
INSERT INTO commune (id, name, province_id) VALUES ('01404', 'Huara', '014');
INSERT INTO commune (id, name, province_id) VALUES ('01405', 'Pica', '014');
INSERT INTO commune (id, name, province_id) VALUES ('02101', 'Antofagasta', '021');
INSERT INTO commune (id, name, province_id) VALUES ('02102', 'Mejillones', '021');
INSERT INTO commune (id, name, province_id) VALUES ('02103', 'Sierra Gorda', '021');
INSERT INTO commune (id, name, province_id) VALUES ('02104', 'Taltal', '021');
INSERT INTO commune (id, name, province_id) VALUES ('02201', 'Calama', '022');
INSERT INTO commune (id, name, province_id) VALUES ('02202', 'Ollagüe', '022');
INSERT INTO commune (id, name, province_id) VALUES ('02203', 'San Pedro de Atacama', '022');
INSERT INTO commune (id, name, province_id) VALUES ('02301', 'Tocopilla', '023');
INSERT INTO commune (id, name, province_id) VALUES ('02302', 'María Elena', '023');
INSERT INTO commune (id, name, province_id) VALUES ('03101', 'Copiapó', '031');
INSERT INTO commune (id, name, province_id) VALUES ('03102', 'Caldera', '031');
INSERT INTO commune (id, name, province_id) VALUES ('03103', 'Tierra Amarilla', '031');
INSERT INTO commune (id, name, province_id) VALUES ('03201', 'Chañaral', '032');
INSERT INTO commune (id, name, province_id) VALUES ('03202', 'Diego de Almagro', '032');
INSERT INTO commune (id, name, province_id) VALUES ('03301', 'Vallenar', '033');
INSERT INTO commune (id, name, province_id) VALUES ('03302', 'Alto del Carmen', '033');
INSERT INTO commune (id, name, province_id) VALUES ('03303', 'Freirina', '033');
INSERT INTO commune (id, name, province_id) VALUES ('03304', 'Huasco', '033');
INSERT INTO commune (id, name, province_id) VALUES ('04101', 'La Serena', '041');
INSERT INTO commune (id, name, province_id) VALUES ('04102', 'Coquimbo', '041');
INSERT INTO commune (id, name, province_id) VALUES ('04103', 'Andacollo', '041');
INSERT INTO commune (id, name, province_id) VALUES ('04104', 'La Higuera', '041');
INSERT INTO commune (id, name, province_id) VALUES ('04105', 'Paiguano', '041');
INSERT INTO commune (id, name, province_id) VALUES ('04106', 'Vicuña', '041');
INSERT INTO commune (id, name, province_id) VALUES ('04201', 'Illapel', '042');
INSERT INTO commune (id, name, province_id) VALUES ('04202', 'Canela', '042');
INSERT INTO commune (id, name, province_id) VALUES ('04203', 'Los Vilos', '042');
INSERT INTO commune (id, name, province_id) VALUES ('04204', 'Salamanca', '042');
INSERT INTO commune (id, name, province_id) VALUES ('04301', 'Ovalle', '043');
INSERT INTO commune (id, name, province_id) VALUES ('04302', 'Combarbalá', '043');
INSERT INTO commune (id, name, province_id) VALUES ('04303', 'Monte Patria', '043');
INSERT INTO commune (id, name, province_id) VALUES ('04304', 'Punitaqui', '043');
INSERT INTO commune (id, name, province_id) VALUES ('04305', 'Río Hurtado', '043');
INSERT INTO commune (id, name, province_id) VALUES ('05101', 'Valparaíso', '051');
INSERT INTO commune (id, name, province_id) VALUES ('05102', 'Casablanca', '051');
INSERT INTO commune (id, name, province_id) VALUES ('05103', 'Concón', '051');
INSERT INTO commune (id, name, province_id) VALUES ('05104', 'Juan Fernández', '051');
INSERT INTO commune (id, name, province_id) VALUES ('05105', 'Puchuncaví', '051');
INSERT INTO commune (id, name, province_id) VALUES ('05107', 'Quintero', '051');
INSERT INTO commune (id, name, province_id) VALUES ('05109', 'Viña del Mar', '051');
INSERT INTO commune (id, name, province_id) VALUES ('05201', 'Isla de Pascua', '052');
INSERT INTO commune (id, name, province_id) VALUES ('05301', 'Los Andes', '053');
INSERT INTO commune (id, name, province_id) VALUES ('05302', 'Calle Larga', '053');
INSERT INTO commune (id, name, province_id) VALUES ('05303', 'Rinconada', '053');
INSERT INTO commune (id, name, province_id) VALUES ('05304', 'San Esteban', '053');
INSERT INTO commune (id, name, province_id) VALUES ('05401', 'La Ligua', '054');
INSERT INTO commune (id, name, province_id) VALUES ('05402', 'Cabildo', '054');
INSERT INTO commune (id, name, province_id) VALUES ('05403', 'Papudo', '054');
INSERT INTO commune (id, name, province_id) VALUES ('05404', 'Petorca', '054');
INSERT INTO commune (id, name, province_id) VALUES ('05405', 'Zapallar', '054');
INSERT INTO commune (id, name, province_id) VALUES ('05501', 'Quillota', '055');
INSERT INTO commune (id, name, province_id) VALUES ('05502', 'Calera', '055');
INSERT INTO commune (id, name, province_id) VALUES ('05503', 'Hijuelas', '055');
INSERT INTO commune (id, name, province_id) VALUES ('05504', 'La Cruz', '055');
INSERT INTO commune (id, name, province_id) VALUES ('05506', 'Nogales', '055');
INSERT INTO commune (id, name, province_id) VALUES ('05601', 'San Antonio', '056');
INSERT INTO commune (id, name, province_id) VALUES ('05602', 'Algarrobo', '056');
INSERT INTO commune (id, name, province_id) VALUES ('05603', 'Cartagena', '056');
INSERT INTO commune (id, name, province_id) VALUES ('05604', 'El Quisco', '056');
INSERT INTO commune (id, name, province_id) VALUES ('05605', 'El Tabo', '056');
INSERT INTO commune (id, name, province_id) VALUES ('05606', 'Santo Domingo', '056');
INSERT INTO commune (id, name, province_id) VALUES ('05701', 'San Felipe', '057');
INSERT INTO commune (id, name, province_id) VALUES ('05702', 'Catemu', '057');
INSERT INTO commune (id, name, province_id) VALUES ('05703', 'Llaillay', '057');
INSERT INTO commune (id, name, province_id) VALUES ('05704', 'Panquehue', '057');
INSERT INTO commune (id, name, province_id) VALUES ('05705', 'Putaendo', '057');
INSERT INTO commune (id, name, province_id) VALUES ('05706', 'Santa María', '057');
INSERT INTO commune (id, name, province_id) VALUES ('05801', 'Quilpué', '058');
INSERT INTO commune (id, name, province_id) VALUES ('05802', 'Limache', '058');
INSERT INTO commune (id, name, province_id) VALUES ('05803', 'Olmué', '058');
INSERT INTO commune (id, name, province_id) VALUES ('05804', 'Villa Alemana', '058');
INSERT INTO commune (id, name, province_id) VALUES ('06101', 'Rancagua', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06102', 'Codegua', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06103', 'Coinco', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06104', 'Coltauco', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06105', 'Doñihue', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06106', 'Graneros', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06107', 'Las Cabras', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06108', 'Machalí', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06109', 'Malloa', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06110', 'Mostazal', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06111', 'Olivar', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06112', 'Peumo', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06113', 'Pichidegua', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06114', 'Quinta de Tilcoco', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06115', 'Rengo', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06116', 'Requínoa', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06117', 'San Vicente', '061');
INSERT INTO commune (id, name, province_id) VALUES ('06201', 'Pichilemu', '062');
INSERT INTO commune (id, name, province_id) VALUES ('06202', 'La Estrella', '062');
INSERT INTO commune (id, name, province_id) VALUES ('06203', 'Litueche', '062');
INSERT INTO commune (id, name, province_id) VALUES ('06204', 'Marchihue', '062');
INSERT INTO commune (id, name, province_id) VALUES ('06205', 'Navidad', '062');
INSERT INTO commune (id, name, province_id) VALUES ('06206', 'Paredones', '062');
INSERT INTO commune (id, name, province_id) VALUES ('06301', 'San Fernando', '063');
INSERT INTO commune (id, name, province_id) VALUES ('06302', 'Chépica', '063');
INSERT INTO commune (id, name, province_id) VALUES ('06303', 'Chimbarongo', '063');
INSERT INTO commune (id, name, province_id) VALUES ('06304', 'Lolol', '063');
INSERT INTO commune (id, name, province_id) VALUES ('06305', 'Nancagua', '063');
INSERT INTO commune (id, name, province_id) VALUES ('06306', 'Palmilla', '063');
INSERT INTO commune (id, name, province_id) VALUES ('06307', 'Peralillo', '063');
INSERT INTO commune (id, name, province_id) VALUES ('06308', 'Placilla', '063');
INSERT INTO commune (id, name, province_id) VALUES ('06309', 'Pumanque', '063');
INSERT INTO commune (id, name, province_id) VALUES ('06310', 'Santa Cruz', '063');
INSERT INTO commune (id, name, province_id) VALUES ('07101', 'Talca', '071');
INSERT INTO commune (id, name, province_id) VALUES ('07102', 'Constitución', '071');
INSERT INTO commune (id, name, province_id) VALUES ('07103', 'Curepto', '071');
INSERT INTO commune (id, name, province_id) VALUES ('07104', 'Empedrado', '071');
INSERT INTO commune (id, name, province_id) VALUES ('07105', 'Maule', '071');
INSERT INTO commune (id, name, province_id) VALUES ('07106', 'Pelarco', '071');
INSERT INTO commune (id, name, province_id) VALUES ('07107', 'Pencahue', '071');
INSERT INTO commune (id, name, province_id) VALUES ('07108', 'Río Claro', '071');
INSERT INTO commune (id, name, province_id) VALUES ('07109', 'San Clemente', '071');
INSERT INTO commune (id, name, province_id) VALUES ('07110', 'San Rafael', '071');
INSERT INTO commune (id, name, province_id) VALUES ('07201', 'Cauquenes', '072');
INSERT INTO commune (id, name, province_id) VALUES ('07202', 'Chanco', '072');
INSERT INTO commune (id, name, province_id) VALUES ('07203', 'Pelluhue', '072');
INSERT INTO commune (id, name, province_id) VALUES ('07301', 'Curicó', '073');
INSERT INTO commune (id, name, province_id) VALUES ('07302', 'Hualañé', '073');
INSERT INTO commune (id, name, province_id) VALUES ('07303', 'Licantén', '073');
INSERT INTO commune (id, name, province_id) VALUES ('07304', 'Molina', '073');
INSERT INTO commune (id, name, province_id) VALUES ('07305', 'Rauco', '073');
INSERT INTO commune (id, name, province_id) VALUES ('07306', 'Romeral', '073');
INSERT INTO commune (id, name, province_id) VALUES ('07307', 'Sagrada Familia', '073');
INSERT INTO commune (id, name, province_id) VALUES ('07308', 'Teno', '073');
INSERT INTO commune (id, name, province_id) VALUES ('07309', 'Vichuquén', '073');
INSERT INTO commune (id, name, province_id) VALUES ('07401', 'Linares', '074');
INSERT INTO commune (id, name, province_id) VALUES ('07402', 'Colbún', '074');
INSERT INTO commune (id, name, province_id) VALUES ('07403', 'Longaví', '074');
INSERT INTO commune (id, name, province_id) VALUES ('07404', 'Parral', '074');
INSERT INTO commune (id, name, province_id) VALUES ('07405', 'Retiro', '074');
INSERT INTO commune (id, name, province_id) VALUES ('07406', 'San Javier', '074');
INSERT INTO commune (id, name, province_id) VALUES ('07407', 'Villa Alegre', '074');
INSERT INTO commune (id, name, province_id) VALUES ('07408', 'Yerbas Buenas', '074');
INSERT INTO commune (id, name, province_id) VALUES ('08101', 'Concepción', '081');
INSERT INTO commune (id, name, province_id) VALUES ('08102', 'Coronel', '081');
INSERT INTO commune (id, name, province_id) VALUES ('08103', 'Chiguayante', '081');
INSERT INTO commune (id, name, province_id) VALUES ('08104', 'Florida', '081');
INSERT INTO commune (id, name, province_id) VALUES ('08105', 'Hualqui', '081');
INSERT INTO commune (id, name, province_id) VALUES ('08106', 'Lota', '081');
INSERT INTO commune (id, name, province_id) VALUES ('08107', 'Penco', '081');
INSERT INTO commune (id, name, province_id) VALUES ('08108', 'San Pedro de la Paz', '081');
INSERT INTO commune (id, name, province_id) VALUES ('08109', 'Santa Juana', '081');
INSERT INTO commune (id, name, province_id) VALUES ('08110', 'Talcahuano', '081');
INSERT INTO commune (id, name, province_id) VALUES ('08111', 'Tomé', '081');
INSERT INTO commune (id, name, province_id) VALUES ('08112', 'Hualpén', '081');
INSERT INTO commune (id, name, province_id) VALUES ('08201', 'Lebu', '082');
INSERT INTO commune (id, name, province_id) VALUES ('08202', 'Arauco', '082');
INSERT INTO commune (id, name, province_id) VALUES ('08203', 'Cañete', '082');
INSERT INTO commune (id, name, province_id) VALUES ('08204', 'Contulmo', '082');
INSERT INTO commune (id, name, province_id) VALUES ('08205', 'Curanilahue', '082');
INSERT INTO commune (id, name, province_id) VALUES ('08206', 'Los Alamos', '082');
INSERT INTO commune (id, name, province_id) VALUES ('08207', 'Tirúa', '082');
INSERT INTO commune (id, name, province_id) VALUES ('08301', 'Los Angeles', '083');
INSERT INTO commune (id, name, province_id) VALUES ('08302', 'Antuco', '083');
INSERT INTO commune (id, name, province_id) VALUES ('08303', 'Cabrero', '083');
INSERT INTO commune (id, name, province_id) VALUES ('08304', 'Laja', '083');
INSERT INTO commune (id, name, province_id) VALUES ('08305', 'Mulchén', '083');
INSERT INTO commune (id, name, province_id) VALUES ('08306', 'Nacimiento', '083');
INSERT INTO commune (id, name, province_id) VALUES ('08307', 'Negrete', '083');
INSERT INTO commune (id, name, province_id) VALUES ('08308', 'Quilaco', '083');
INSERT INTO commune (id, name, province_id) VALUES ('08309', 'Quilleco', '083');
INSERT INTO commune (id, name, province_id) VALUES ('08310', 'San Rosendo', '083');
INSERT INTO commune (id, name, province_id) VALUES ('08311', 'Santa Bárbara', '083');
INSERT INTO commune (id, name, province_id) VALUES ('08312', 'Tucapel', '083');
INSERT INTO commune (id, name, province_id) VALUES ('08313', 'Yumbel', '083');
INSERT INTO commune (id, name, province_id) VALUES ('08314', 'Alto Biobío', '083');
INSERT INTO commune (id, name, province_id) VALUES ('09101', 'Temuco', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09102', 'Carahue', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09103', 'Cunco', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09104', 'Curarrehue', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09105', 'Freire', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09106', 'Galvarino', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09107', 'Gorbea', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09108', 'Lautaro', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09109', 'Loncoche', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09110', 'Melipeuco', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09111', 'Nueva Imperial', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09112', 'Padre Las Casas', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09113', 'Perquenco', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09114', 'Pitrufquén', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09115', 'Pucón', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09116', 'Saavedra', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09117', 'Teodoro Schmidt', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09118', 'Toltén', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09119', 'Vilcún', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09120', 'Villarrica', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09121', 'Cholchol', '091');
INSERT INTO commune (id, name, province_id) VALUES ('09201', 'Angol', '092');
INSERT INTO commune (id, name, province_id) VALUES ('09202', 'Collipulli', '092');
INSERT INTO commune (id, name, province_id) VALUES ('09203', 'Curacautín', '092');
INSERT INTO commune (id, name, province_id) VALUES ('09204', 'Ercilla', '092');
INSERT INTO commune (id, name, province_id) VALUES ('09205', 'Lonquimay', '092');
INSERT INTO commune (id, name, province_id) VALUES ('09206', 'Los Sauces', '092');
INSERT INTO commune (id, name, province_id) VALUES ('09207', 'Lumaco', '092');
INSERT INTO commune (id, name, province_id) VALUES ('09208', 'Purén', '092');
INSERT INTO commune (id, name, province_id) VALUES ('09209', 'Renaico', '092');
INSERT INTO commune (id, name, province_id) VALUES ('09210', 'Traiguén', '092');
INSERT INTO commune (id, name, province_id) VALUES ('09211', 'Victoria', '092');
INSERT INTO commune (id, name, province_id) VALUES ('10101', 'Puerto Montt', '101');
INSERT INTO commune (id, name, province_id) VALUES ('10102', 'Calbuco', '101');
INSERT INTO commune (id, name, province_id) VALUES ('10103', 'Cochamó', '101');
INSERT INTO commune (id, name, province_id) VALUES ('10104', 'Fresia', '101');
INSERT INTO commune (id, name, province_id) VALUES ('10105', 'Frutillar', '101');
INSERT INTO commune (id, name, province_id) VALUES ('10106', 'Los Muermos', '101');
INSERT INTO commune (id, name, province_id) VALUES ('10107', 'Llanquihue', '101');
INSERT INTO commune (id, name, province_id) VALUES ('10108', 'Maullín', '101');
INSERT INTO commune (id, name, province_id) VALUES ('10109', 'Puerto Varas', '101');
INSERT INTO commune (id, name, province_id) VALUES ('10201', 'Castro', '102');
INSERT INTO commune (id, name, province_id) VALUES ('10202', 'Ancud', '102');
INSERT INTO commune (id, name, province_id) VALUES ('10203', 'Chonchi', '102');
INSERT INTO commune (id, name, province_id) VALUES ('10204', 'Curaco de Vélez', '102');
INSERT INTO commune (id, name, province_id) VALUES ('10205', 'Dalcahue', '102');
INSERT INTO commune (id, name, province_id) VALUES ('10206', 'Puqueldón', '102');
INSERT INTO commune (id, name, province_id) VALUES ('10207', 'Queilén', '102');
INSERT INTO commune (id, name, province_id) VALUES ('10208', 'Quellón', '102');
INSERT INTO commune (id, name, province_id) VALUES ('10209', 'Quemchi', '102');
INSERT INTO commune (id, name, province_id) VALUES ('10210', 'Quinchao', '102');
INSERT INTO commune (id, name, province_id) VALUES ('10301', 'Osorno', '103');
INSERT INTO commune (id, name, province_id) VALUES ('10302', 'Puerto Octay', '103');
INSERT INTO commune (id, name, province_id) VALUES ('10303', 'Purranque', '103');
INSERT INTO commune (id, name, province_id) VALUES ('10304', 'Puyehue', '103');
INSERT INTO commune (id, name, province_id) VALUES ('10305', 'Río Negro', '103');
INSERT INTO commune (id, name, province_id) VALUES ('10306', 'San Juan de la Costa', '103');
INSERT INTO commune (id, name, province_id) VALUES ('10307', 'San Pablo', '103');
INSERT INTO commune (id, name, province_id) VALUES ('10401', 'Chaitén', '104');
INSERT INTO commune (id, name, province_id) VALUES ('10402', 'Futaleufú', '104');
INSERT INTO commune (id, name, province_id) VALUES ('10403', 'Hualaihué', '104');
INSERT INTO commune (id, name, province_id) VALUES ('10404', 'Palena', '104');
INSERT INTO commune (id, name, province_id) VALUES ('11101', 'Coyhaique', '111');
INSERT INTO commune (id, name, province_id) VALUES ('11102', 'Lago Verde', '111');
INSERT INTO commune (id, name, province_id) VALUES ('11201', 'Aysén', '112');
INSERT INTO commune (id, name, province_id) VALUES ('11202', 'Cisnes', '112');
INSERT INTO commune (id, name, province_id) VALUES ('11203', 'Guaitecas', '112');
INSERT INTO commune (id, name, province_id) VALUES ('11301', 'Cochrane', '113');
INSERT INTO commune (id, name, province_id) VALUES ('11302', 'O''Higgins', '113');